@model int

@section Styles {
    <link href="~/chessboardjs/css/chessboard-1.0.0.min.css" rel="stylesheet"/>
}

<div id="board" style="width: 400px"></div>
<p id="status"></p>
<p id="fen"></p>

@section Scripts {
    <script type="module" src="~/chess.js/dist/esm/chess.js"></script>
    <script src="~/chessboardjs/js/chessboard-1.0.0.min.js"></script>
    <script type="module" src="~/site.js"></script>
    <script type="module">
        // Ask the user to enter w or b:
        import initGameBoard from "/site.js"; 
        const player = prompt("Please enter your color (w or b):");
        initGameBoard(player, @Model);
    </script>
}