@using Aiursoft.ChessServer.Models
@model Aiursoft.ChessServer.Models.IndexViewModel

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome challenger!</h1>
        <p class="lead">Join a room, or create a room!</p>
        <p>
            @* JS Will Append the player id to the link. *@
            <a class="btn btn-success btn-lg mt-4" role="button" id="autoButton" asp-controller="Home" asp-action="Auto">Auto join</a>
            @* JS Will Append the player id to the link. *@
            <a class="btn btn-secondary btn-lg mt-4" role="button" id="createButton" asp-controller="Home" asp-action="Create">Create a new room</a>
        </p>
    </div>
</div>

<div class="container mt-4">
    <div class="row no-gutters">
        <div class="col-sm-12 px-1">
            <div class="card mb-2 tests-card">
                <div class="card-body">
                    <h5 class="card-title">Public games</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm" id="logTable">
                            <tr>
                                <th>Room Name</th>
                                <th>Creator</th>
                                <th>Action</th>
                            </tr>
                            @foreach (var item in Model.Challenges.Where(t => t.Value.Permission == ChallengePermission.Public))
                            {
                                <tr>
                                    <td>@item.Value.Message</td>
                                    <td>@item.Value.Creator.NickName</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Challenge" asp-route-id="@item.Key">Join</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="module">
        import { getUserId } from "/scripts/player.js";
        const createButton = document.getElementById("createButton");
        const autoButton = document.getElementById("autoButton");
        const playerId = getUserId();
        
        // Append player id to create button.
        if (playerId) {
            createButton.href += `?playerId=${playerId}`;
            autoButton.href += `?playerId=${playerId}`;
        }
    </script>
}
