@model Aiursoft.ChessServer.Views.Shared.Components.ChessBoardModel


<div class="col-md-6">
    <div id="board" style="width: 100%" class="w-100"></div>
</div>
<div class="col-md-12">
    <p id="status" class="text-center text-wrap text-primary mt-1"></p>
</div>


<script type="module">
import initGameBoard from "/scripts/chessboard.js";

window.addEventListener('DOMContentLoaded', async () => {
    // Ask the user to enter w or b:
    const player = prompt("Please enter your color (w or b):");
    initGameBoard(player, @Model.GameId);
});

</script>