.aspect-1-1 {
  aspect-ratio: 1/1;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.opacity-1 {
  opacity: 1;
}

.flex-basis-auto {
  flex-basis: auto;
}

.scrollbar-width-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.text-sm {
  font-size: 0.7rem;
}
